<div class="theme-toggle night">
    <input class="night" type="checkbox" id="theme-switch">
    <label class="night" for="theme-switch">
        <div class="toggle night"></div>
        <div class="names night">
            <p class="light night"><i class="fa fa-sun-o night" aria-hidden="true" style="font-size: 20px; width: 20px; text-align: center; vertical-align: middle;"></i></p>
            <p class="dark night"><i class="fa fa-moon-o night" aria-hidden="true" style="font-size: 20px; width: 20px; text-align: center; vertical-align: middle;"></i></p>
        </div>
    </label>
</div>